<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <!-- Bootstrap -->
 <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>Detail Siswa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<style>
    .custom-table {
        width: 50%; 
        height: 300px; 
        margin-left: auto;
        margin-right: auto;

    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase"></nav>
    <!-- Close Navbar -->
<!-- MAIN -->
<main>
        <h1 class="title">USER</h1>
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li class="divider">/</li>
          <li><a href="/user">User</a></li>
          <li class="divider">/</li>
          <li><a href="#" class="active">Detail Admin</a></li>
        </ul>

       <div class="row my-2">
           <div class="col-md">
               <h3 class="fw-bold text-uppercase"></i>&nbsp;Detail Data Admin</h3>
           </div>
           <hr>
       </div>
       <a href="/user" class="btn btn-secondary">Kembali</a>
    <div class="table-responsive">
        <table class="table table-bordered custom-table">
            <tr align="center">
                <td colspan="2"><img src="{{ url_for('static', filename=admin['gambar'].replace('static', '')) }}" width="30%"></td>
            </tr>
            <tr>
                <th width="40%">NIP</th>
                <td width="60%">{{ admin.nip }}</td>
            </tr>
            <tr>
                <th width="40%">Nama</th>
                <td width="60%">{{ admin.nama }}</td>
            </tr>
                <th width="40%">E-Mail</th>
                <td width="60%">{{ admin.email }}</td>
            </tr>
            <tr>
                <th width="40%">Alamat</th>
                <td width="60%">{{ admin.alamat }}</td>
            </tr>
        </table>
    </div>
</body>
</html>