{% extends "navbar.html" %}
{% block kontenku %}

 <!-- Favicons -->
 <link href="{{ url_for('static', filename='images/logo.png') }}" rel="icon">
 <link href="{{ url_for('static', filename='images/logo.png') }}" rel="apple-touch-icon">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

 <!-- Bootstrap CSS File -->
 <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

 <!-- Libraries CSS Files -->
 <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='lib/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">

 <!-- Main Stylesheet File -->
 <link href="{{ url_for('static', filename='css2/style.css') }}" rel="stylesheet">

 <!-- =======================================================
   Theme Name: Reveal
   Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
   Author: BootstrapMade.com
   License: https://bootstrapmade.com/license/
 ======================================================= -->
  
  <main id="main">
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Program Studi</h2>
        </div>
        <div class="card-deck">
          {%for item in prodi%}
          <div class="col-md-4">
          <div class="card">
            <a href="/detail-prodi/{{ item.id_prodi }}">
            <img class="card-img-top" src="{{ url_for('static', filename=item['gambar'].replace('static', '')) }}" width="40%" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ item.kode }}</h5>
              <p class="card-text">{{ item.nama }}</p>
            </div>  
          </a>
          </div>
          <br>
        </div>
          {%endfor%}
          </div>
          
        <div class="row contact-info">
          
          <div class="col-md-4">
    
              <h3></h3>
            </div>
          </div>
          
          <hr>
  
          </div>
      </div>

      </div>
    </section><!-- #contact -->

  </main>

{%endblock%}