{% extends "sidebar.html" %}
{% block kontenku %}
<!-- Theme style -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<!-- MAIN -->
<main>
  <h1 class="title">Dashboard</h1>
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active">Dashboard</a></li>
  </ul>
  <div class="info-data">
    <div class="card">
      <div class="head">
        <div>
          <h2>{{count_user}}</h2>
          <p>Pengguna</p>
        </div>
        <i class='bx bx-trending-up icon' ></i>
      </div>
      <span class="progress" data-value="40%"></span>
      <span class="label"></span>
    </div>
    <div class="card">
      <div class="head">
        <div>
          <h2>{{count_siswa}}</h2>
          <p>Siswa</p>
        </div>
        <i class='bx bx-trending-down icon down' ></i>
      </div>
      <span class="progress" data-value="60%"></span>
      <span class="label"></span>
    </div>
    <div class="card">
      <div class="head">
        <div>
          <h2>{{count_nilai}}</h2>
          <p>Data Nilai</p>
        </div>
        <i class='bx bx-trending-up icon' ></i>
      </div>
      <span class="progress" data-value="30%"></span>
      <span class="label"></span>
    </div>
    <div class="card">
      <div class="head">
        <div>
          <h2>{{count_prodi}}</h2>
          <p>Program Studi</p>
        </div>
        <i class='bx bx-trending-up icon' ></i>
      </div>
      <span class="progress" data-value="80%"></span>
      <span class="label"></span>
    </div>
  </div>
  <div class="data">
    <div class="content-data">
      <h1>Log Activity</h1><br>
      <div class="head">

    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th>Action</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.nama }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      </div>
    </div>
    <div class="content-data">
      <div class="head">
        <h3>Our Logo</h3>
      </div>
      <div class="chat-box" style="text-align: center;">
        <p class="day"><span>PPS-Datamining</span></p>
          <img src="static/images/logo.png" width="50%" width="50%" style="margin: auto;" alt="">
    </div>
  </div>
</main>
<!-- MAIN -->


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}