{% extends "navbar.html" %}
{% block kontenku %}<!-- templates/index.html -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }
        .container2 {
            width: 50%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-top: 2%;
            margin-bottom: 2%;
        }
        h2 {
            color: #333;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            margin-bottom: 10px;
        }
        input[type="number"] {
            padding: 8px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container2">
        <h2>Academic Performance Predictor</h2>
        <form action="/predict" method="post">
            <label for="Matematika">Matematika:</label>
            <input type="number" id="Matematika" name="Matematika" required>
            <label for="BahasaIndonesia">Bahasa Indonesia:</label>
            <input type="number" id="BahasaIndonesia" name="BahasaIndonesia" required>
            <label for="BahasaInggris">Bahasa Inggris:</label>
            <input type="number" id="BahasaInggris" name="BahasaInggris" required>
            <label for="Fisika">Fisika:</label>
            <input type="number" id="Fisika" name="Fisika" required>
            <label for="Kimia">Kimia:</label>
            <input type="number" id="Kimia" name="Kimia" required>
            <label for="Biologi">Biologi:</label>
            <input type="number" id="Biologi" name="Biologi" required>
            <label for="Ekonomi">Ekonomi:</label>
            <input type="number" id="Ekonomi" name="Ekonomi" required>
            <label for="Geografi">Geografi:</label>
            <input type="number" id="Geografi" name="Geografi" required>
            <label for="Sosiologi">Sosiologi:</label>
            <input type="number" id="Sosiologi" name="Sosiologi" required>
            <label for="Sejarah">Sejarah:</label>
            <input type="number" id="Sejarah" name="Sejarah" required>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
{% endblock %}